<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.baizhi.entity.Employee">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="salary" property="salary" jdbcType="DOUBLE"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,
        username,
        salary,
        age
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_employee
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_employee
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_employee
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.baizhi.entity.Employee">
        insert into t_employee (id, username, salary,
                                age)
        values (0, #{username,jdbcType=VARCHAR}, #{salary,jdbcType=DOUBLE},
                #{age,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.baizhi.entity.Employee">
        insert into t_employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                0,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="salary != null">
                salary,
            </if>
            <if test="age != null">
                age,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="salary != null">
                #{salary,jdbcType=DOUBLE},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.Employee">
        update t_employee
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="salary != null">
                salary = #{salary,jdbcType=DOUBLE},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Employee">
        update t_employee
        set username = #{username,jdbcType=VARCHAR},
            salary   = #{salary,jdbcType=DOUBLE},
            age      = #{age,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>